
body {
 background-image: url("image/champ4.jpg");
 background-color: rgb(255, 128, 0);
}
.mb-3{
	position:relative;
	left:25%;
	width:50%;
}

#button1{
	position:relative;
	top:20%;
	left:30%;
	width:40%;
	height:5%;
	
	}
#btn1{
	cursor: auto;
	font-size:15px;
	background-color: #008CBA;
	font-size:16px;	
}
.form{
	width:35%;
	position:relative;
	left:33%;
	background-color:white;
}
	#heading-1{
	width:90%;
	background-color:blue;
	font-size:35px;
	text-align:center;
	position:relative;
	left:2%;
}